a, body, div, ul, li, img {
    margin: 0;
    padding: 0;
}

ul, li {
    list-style: none;
}

#container {
    width: 960px;
    margin: 50px auto 0;
    position: relative;
    overflow: hidden;
    border: 1px solid #ccc;
}

#list {
    width: 960px;
    height: 300px;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

ul {
    position: absolute;
    left: 0;
    top: 0;
}

li {
    float: left;
    width: 480px;
    height: 300px;
}

.arrow {
    display: none;
    position: absolute;
    text-decoration: none;
    top: 130px;
    z-index: 2;
    width: 40px;
    height: 40px;
    font-size: 50px;
    font-weight: bold;
    line-height: 39px;
    text-align: center;
    color: #ccc;
    background-color: rgba(0, 0, 0, .3);
    cursor: pointer;
}

.arrow:hover {
    background-color: rgba(0, 0, 0, .7);
}

#container:hover .arrow {
    display: block;
}

#prev {
    left: 5px;
}

#next {
    right: 5px;
}