body, div, ul, li, img {
    margin: 0;
    padding: 0;
}

ul, li {
    list-style: none;
}

.wrap {
    max-width: 960px;
    width: 90%;
    margin: 20px auto;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.items {
    overflow: hidden;
    white-space: nowrap;
}

.item {
    display: inline-block;
    width: 480px;
    text-align: center;
}

.items img {
    width: 90%;
    border:0;
}

@media (max-width: 780px) {
    .item {
        width: 190px;
    }
}

@media (max-width: 580px) {
    .item {
        width: 160px;
    }
}